appdirs==1.4.4
attrs==22.2.0
beautifulsoup4==4.11.2
beniget==0.4.1
Brotli==1.0.9
chardet==5.1.0
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
distlib==0.3.6
filelock==3.9.0
fonttools==4.38.0
fs==2.4.16
gast==0.5.2
html5lib==1.1
kiwisolver==0.0.0
libevdev==0.5
lxml==4.9.2
lz4==4.0.2+dfsg
matplotlib==3.6.3
mpmath==0.0.0
numpy==1.24.2
olefile==0.46
packaging==23.0
Pillow==9.4.0
platformdirs==2.6.0
ply==3.11
PyGObject==3.42.2
pyparsing==3.0.9
python-dateutil==2.8.2
pythran==0.11.0
pytz==2022.7.1
pyudev==0.24.0
scipy==1.10.1
six==1.16.0
soupsieve==2.3.2
sympy==1.11.1
ufoLib2==0.14.0
virtualenv==20.17.1+ds
webencodings==0.5.1
